.block1 {
    display: inline-block;
    /*display: none;*/
    box-sizing: border-box;
    background: #4c1da4;
    width: 200px;
    height: 200px;
    color: #FFF;
    /*margin-left: 20px;
    margin-top: 40px;*/
    margin: 40px 20px 10px 5px;
    padding: 15px 20px;
    border: 15px solid #AAFF44;
}

.hidden {
    visibility: hidden;
    /*display: none;*/
}