div {
    width:100px;
    height: 200px;
    border: 1px solid #228;
}
.static {
    /*position: static;*/
}

.relative {
    position: relative;
    top: 10px;
    left: 50px;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.inner {
    position: absolute;
    top: 25%;
    right: 0;
}

.fixed {
    position: fixed;
    right: 0;
}